@import url('./form.scss');

* {
	font-family: Roboto;
	font-style: normal;
	font-weight: 400;
	box-sizing: border-box;
}

input:not([type='checkbox']) {
	padding: 10px;
	background: none;
	border: none;
	outline: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	border-radius: 5px;
	background: #fff;
	width: 100%;
	color: #353535;
	font-size: 17px;
}

button,
input[type='submit'],
input[type='reset'],
select {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}

select::-ms-expand {
	display: none;
}

.container {
	width: min(100% - 20px, 1400px);
	margin-inline: auto;
}

#app {
	button {
		border-radius: 5px;
		background: #519945;
		padding: 10px 30px;
		width: 100%;
		color: #fff;
		font-size: 17px;
		font-weight: 600;
		line-height: 21px;
		letter-spacing: -0.425px;
		transition: background-color 0.3s ease;

		&:hover {
			background: #66a75b;
		}
	}
}
